* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #1f9030;
    border-radius: 5px;
}

body {
    max-width: 100vw;
    background-color: #88ef87;
}   

img{
    display: block;
    width: 100%;
    height: 100%;
}

hr {
    border: 1px solid #fff;
}

header {
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    color: #fff;
    font-size: 22px;
    text-transform: lowercase;
    cursor: pointer;
}

section {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #88ef87;
    padding: 0 100px;

}

.section-one {
    justify-content: center;
}

.area-Presentection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 550px;
    margin-right: -22px;
    z-index: 999;
    cursor: pointer;
    align-self: flex-end;
}

.text-box {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-box h1 {
    width: 100%;
    font-size: 75px;
    color: #000000;
    font-family: "Lilita One", sans-serif;
    cursor: pointer;
}

strong {
    font-size: 45px;
    font-family: "Lilita One", sans-serif;
    color: #fff;
    border-bottom: 4px solid #fff;
    letter-spacing: 2px;
    text-transform: capitalize;
    cursor: pointer;
}

.text-box p {
    margin: 5% 0;
    width: 80%;
    align-self: self-start;
    color: #fff;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    text-transform: capitalize;
    text-align: justify;
}


.contactLink {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 3px solid #000000;
    width: 150px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.contactLink:hover {
    color: #000000;

}

.circul {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 100%;
}

.circul div {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.circul div:nth-child(2) {
    width: 220px;
    height: 220px;
    border: 1px solid #fff;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    height: 100%;
    width: 42%;
    border-radius: 0 0 30px 30px ;
    background-color: #1f9030;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #fff;
}

ul li {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    border-radius: 10px;
    list-style: none;
}

nav ul li:hover {
    transform: translateY(5px);
}

.section-two {
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.hard-Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
 .essencial, .others {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;

}

.box-ling{
    display: flex;
    height: 100%;
    width: 260px;
}
.describe{
    display: flex;
    flex-direction: column;

}

.box-ling h1 {
    width: 100%;
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}
.box-ling h1:hover {
    transform: scale(1.1);
}

.box-ling h5 {
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}

.section-tree {
    flex-direction: column;
    height: 100%;
}

.section-tree header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-tree h1, .section-four div h1 {
    font-family: "Lilita One", sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
}

.box-title {
    width: 100%;
}

.box-title h1 {
    font-family: "Lilita One", sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
}

.language-icon {
    height: 50px;
    width: 40px;
    padding: 5px;
}

.box-projects, .box-projects-two {
    height: 350px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-project-card {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px #1f9030;
    
}
.box-project-card img {
    height: 100%;
    width: 100%;
    display: block;
}

.phonePicture {
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone {
    height: 150px;
    width: 250px;

}
.phone:nth-child(1) {
    width: 100px;
    transform: rotate(-15deg);
}
.phone:last-child {
    width: 120px;
    transform: rotate(15deg);
}

.box-text-project{
    height: auto;
}

.box-text-project h3 {
    border-top: 1px solid #fff;
    text-transform: capitalize;
}

.box-text-project span {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 5px;
    text-transform: uppercase;

}
.box-projet-link {
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    /* background-color: #63636345; */
} 
.active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 330px;
    width: 400px;
    padding: 5px;
    background-color: #1717176c;
    transition: 0.5s;
}
.box-projet-link a {
    font-size: 18px;
    font-weight: 500;
}

.section-four {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #63bd61;
    color: #02420c;
    padding: 20px 100px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact div {
    width: 45%;
    height: 100%;
}
.contact div p {
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}

.section-four form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

form input, textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    outline: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
form input::placeholder, textarea::placeholder {
    color: #ffffff74;
    text-transform: capitalize;
    font-size: 17px;
    padding-left: 10px;
}


button {
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    color: #fff;
    font-size: 18px;
    align-self: self-end;
    text-transform: lowercase;
    border-bottom: 2px solid #fff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #fff;

}
footer ul {
    border: none;
    width: auto;
    align-self: self-end;
}
footer h1 {
    color: #fff;
}


/* tablet */

@media screen  and (min-width: 768px) and (max-width: 1023px){
    header {
        height: 60px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    .logo {
        display: flex;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo h1 {
        color: #fff;
        font-size: 22px;
        text-transform: lowercase;
        cursor: pointer;
    }
    
    section {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: #88ef87;
        padding: 0 100px;
    
    }
    
    .section-one {
        justify-content: center;
        padding: 0 0 0 20px;
    }
    
    .area-Presentection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 550px;
        margin-right: -50px;
        z-index: 999;
        cursor: pointer;
        align-self: flex-end;
    }

    .active {
        display: none;
    }
    
    .text-box {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .text-box h1 {
        width: 100%;
        font-size: 55px;
        color: #000000;
        font-family: "Lilita One", sans-serif;
        cursor: pointer;
    }
    
    strong {
        font-size: 30px;
        font-family: "Lilita One", sans-serif;
        color: #fff;
        border-bottom: 2px solid #fff;
        letter-spacing: 2px;
        text-transform: capitalize;
        cursor: pointer;
    }
    
    .text-box p {
        margin: 60px 0;
        text-align: start;
    }
    
    
    .circul {
        display: flex;
        justify-content: space-between;
        padding: 55px 0;
        width: 100%;
        margin-top: -150px;

    }
    
    .circul div {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    
    .circul div:nth-child(2) {
        width: 200px;
        height: 200px;
        border: 1px solid #fff;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        margin-top: -20%;
        height: 100%;
        width: 520px;
        border-radius: 0 0 0px 0px ;
        background-color: #1f9030;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        border-bottom: 1px solid #fff;
        align-self: self-end;
    }
    
    ul li {
        height: 30px;
        width: 30px;
        margin: 15px 10px;
        border-radius: 10px;
        list-style: none;
    }
    
    nav ul li:hover {
        transform: translateY(5px);
    }
    
    .section-two {
        padding: 20px;
    }
    
    .hard-Skills {
        justify-content: space-around;
        padding: 0 20px;
    }
     .essencial, .others {
        height: auto;
        width: 100%;    
    }

    .box-title {
        width: 100%;
    }
    
    .box-title h1 {
        font-size: 45px;
    }
    
    .box-ling:hover {
        transform: scale(1.1);
    }

   
   
    .box-ling h1:hover {
        transform: scale(1);

    }
    
    .section-tree {
        padding: 20px;
    }
    
    
    .section-tree h1, .section-four div h1 {
        font-size: 45px;
        width: auto;        
    }
    .section-tree .contactLink {
        font-size: 16px;
    }
    
    .language-icon {
        height: 40px;
        width: 40px;
    }
    
    .box-project-card {
        width: 330px;        
    }
    
    .box-text-project h3 {
        text-align: center;
        padding: 5px 0;
    }
    
    .box-text-project span {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        margin: 0 5px;
        text-transform: uppercase;
    
    }
    .box-projet-link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
    }
    .box-projet-link a {
        font-size: 18px;
    }
    
    .section-four {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #63bd61;
        color: #02420c;
        padding: 0 40px;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;        
    }
    .contact div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contact div p {
        margin-top: 10px;
        text-align: center;
    }
    
    .section-four form {
        width: 100%;
    }
    
    form input, textarea {
        margin: 8px 0;
        font-size: 18px;
        font-weight: 400;
    }
    form input::placeholder, textarea::placeholder {
        font-size: 16px;
        padding-left: 12px;
    }
    
    
    button {
        font-size: 20px;
    }
    
  
    
}

/* mobile */

@media screen  and (max-width: 767px){

    section {
        flex-direction: column;
    
    }
    
    .logo {
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo h1 {
        font-size: 20px;

    }
    
    .section-one {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
        padding: 0;

    }
    
    .area-Presentection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 320px;
        width: 100%;
        margin-right: 0px;        
       
    }
    
    .text-box {
        width: 100%;
        height: 50%;
    
    }
    
    .text-box h1 {
        font-size: 40px;

    }
    
    strong {
        font-size: 30px;
       
    }
    
    .text-box p {
        width: 100%;
        font-size: 15px;
        padding: 10px;

    }

    .contactLink {
        font-size: 16px;
        padding: 0 10px ;
       
    }
    
    .circul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;
        top: -35px;
    }
    
    .circul div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    
    .circul div:nth-child(2) {
        width: 180px;
        height: 180px;
        border: 1px solid #fff;
    }

    .active {
        display: none;
    }
    
    nav {
        margin-top: 0px;
        height: 450px;
        width: 100%;
        border-radius: 0 0 0px 0px ;
    }
    
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        border-bottom: 1px solid #fff;
        align-self: self-end;
        margin-right: 10px;
    }
    
    ul li {
        height: 30px;
        width: 30px;
        margin: 10px 10px;
        border-radius: 10px;
        list-style: none;
    }
    ul li img {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    nav ul li:hover {
        transform: translateY(-5px);
    }
    
    .section-two {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 10px;
        margin: 50px 0;


    }
    
    .hard-Skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

    }
    .box-title {
        width: 100%;
    }
    
    .box-title h1 {
        font-size: 40px; 
    }
     .essencial, .others {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        width: 100%;
    
    }
    
    .box-ling{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        transition: 1s;
        margin: 10px 0;

    }
    .box-ling:hover {
        transform: scale(1.1);
        border-bottom: 1px solid #fff;

    }
    
    .describe{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    
    }
    
    .box-ling h1 {
        width: 100%;
        color: #000000;
        font-size: 25px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .box-ling h1:hover {
        transform: scale(1);
    }
    
   

    .box-ling h5 {
        color: #000000;
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
    }
    
    .language-icon {
        height: 50px;
        width: 40px;
        padding: 5px;
    }
    
    .section-tree {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
    }
    
    .section-tree header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .section-tree header .contactLink {
        font-size: 11px;
    }
    
    .section-tree h1, .section-four div h1 {
        font-size: 40px;
        width: auto;
    }
    
    .box-projects, .box-projects-two {
        height: 50%;
        width: 100%;
        padding: 10px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
    
    .box-project-card {
        width: 100%;
        margin: 10px 0;
        box-shadow: 0px 1px 1px #1f9030;
        
    }
    .box-project-card img {
        height: 100%;
        width: 100%;
        display: block;
    }
    
    .phonePicture {
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
    }
    .phone {
        height: 150px;
        width: 250px;
    
    }
    .phone:nth-child(1) {
        width: 100px;
        transform: rotate(-15deg);
    }
    .phone:last-child {
        width: 120px;
        transform: rotate(15deg);
    }
    
    .box-text-project{
        height: 10%;
        align-items: center;
        justify-content: center;
    }
    
    .box-text-project h3 {
        border-top: 1px solid #fff;
        text-transform: capitalize;
        text-align: center;
    }
    
    .box-text-project span {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        margin: 0 5px;
        text-transform: uppercase;
    
    }
    .box-projet-link {
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }
    .box-projet-link a {
        font-size: 15px;
    }
    
    .section-four {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #63bd61;
        color: #02420c;
        padding: 10px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .contact div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact div p {
        margin-top: 2px;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
    }
    
    .section-four form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    form input, textarea {
        width: 100%;
        padding: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        margin: 10px 0;
        outline: none;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
    }
    form input::placeholder, textarea::placeholder {
        color: #ffffff74;
        text-transform: capitalize;
        font-size: 17px;
        padding-left: 10px;
    }
    
    
    button {
        padding: 10px;
        background: transparent;
        border: 1px solid transparent;
        text-align: center;
        color: #fff;
        font-size: 18px;
        align-self: self-end;
        text-transform: lowercase;
        border-bottom: 2px solid #fff;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-top: 2px solid #fff;
    
    }
    footer ul {
        border: none;
        width: 100%;
        align-self: self-start;
    }
    footer h1 {
        color: #fff;
        font-size: 18px;
        padding: 10px 5px;
    }
    
}